body{
    background-image:url('../imagens/imagem1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height:100%;
    width:100%;
}


.text-center{
text-align: center;
color: rgb(195, 195, 230);
line-height: 2px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 10px;

}

#caixas{
position:absolute;
top: 100px;
left: 40%;
background-color: rgba(255, 253, 253, 0.7);
padding:30px;
border-radius: 15px;
margin:auto;
}

legend{
text-align: center;
}

.dados{
    border: 3px solid rgb(222, 220, 226);
    border-radius: 10px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px;  
}

@media (min-width:280px){
body{ 
    height:653px;
}   
body h1{
    font-size:40px ;
   
   }
body h4{
font-size:20px ;

}

#cad{
width:150px;
height:40px;
font-size: 15px;
margin-top:10%;
padding-bottom:10px;
padding-top: 5px;
align-items:center;
}

}

@media (min-width:360px){
    body{ 
        height:740px;
    }       
}

@media (min-width:375px){
    body{ 
        height:680px;
    }    
    
    body h4{
     font-size:20px ;

    }
}
@media (min-width:390px){
    body{ 
        height:844px;
    }       
}

@media (min-width:393px){
    body{ 
        height:851px;
    }       
}

@media (min-width:412px){
    body{ 
        height:914px;
    }       

    body h1{
        font-size:45px ;
       
       }
body h4{
 font-size:25px ;

}

   #cad{
    width:200px;
    height:55px;
    font-size: 22px;
    margin-top:10%;
   }

}

@media (min-width:414px){
    body{ 
        height:900px;
    }       
}

@media (min-width:540px){
    body{ 
        height:720px;
    }       
}

@media (min-width:768px){
    body{ 
        height:1024px;
    }       

    body h1{
        font-size:55px ;
       
       }
body h4{
 font-size:30px ;

}

   #cad{
    width:200px;
    height:60px;
    font-size: 25px;
   }



}

@media (min-width:820px){
    body{ 
        height:1180px;
    }   
     
    body h1{
        font-size:55px ;
       
       }
body h4{
 font-size:30px ;

}

   #cad{
    width:200px;
    height:60px;
    font-size: 25px;
    margin-top:10%;
   }

   

    
}

@media (min-width:912px){
    body{ 
        height:1368px;
    }       
    body h1{
        font-size:55px ;
       
       }
body h4{
 font-size:40px ;

}

   #cad{
    width:200px;
    height:60px;
    font-size: 28px;
   }
}

@media (min-width:1024px){
    body{ 
        height:600px;
    }       

    body h1{
        font-size:50px ;
       
       }
body h4{
 font-size:25px ;

}

   #cad{
    width:140px;
    height:40px;
    font-size: 16px;
    margin-top:0%;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px ;
    padding-top:3px ;
   }

}

@media (min-width:1280px){
    body{ 
        height:600px;
    }       
}