body {
    background-image: url('../imagens/imagem9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center center;
    width: 100vw;
    height: 100%;
    margin: 0;
}

.table-bg {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 0 0;
}

.box-search {
    display: flex;
    justify-content: center;
    gap: .1%;
}

body nav {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-size: 20px;
}


@media (min-width:280px) {
    .container {
        height: 653px;
    }

    body h4 {
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 2vh;
        left: 25vw;
    }

    .btn {
        font-size: 0.8rem;
    }

    #opções {
        text-align: center;
        margin-left: 10px;
        font-size: 0.9rem;
        position: absolute;
        top: 200px;
        left: 50px;
    }

    #update {
        text-align: center;
        margin-top: 5px;
    }


    #delete {
        text-align: center;
    }

    table {
        margin-top: 60px;
    }


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

}

@media (min-width:360px) {
    body {
        height: 740px;
    }

    body h4 {
        font-size: 23px;
        text-align: center;
        position: absolute;
        top: 1vh;
        left: 29vw;
    }

    #opções {
        text-align: center;
        margin-left: 10px;
        font-size: 0.9rem;
        position: absolute;
        top: 210px;
        left: 25vw;
    }

    #update {
        text-align: center;
    }


    #delete {
        text-align: center;
    }

    .btn {
        font-size: 15px;
    }

    table {
        margin-top: 100px;
    }

}

@media (min-width:375px) {
    body {
        height: 680px;
    }

    body h4 {
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 2vh;
        left: 33vw;
    }

    .btn {
        font-size: 0.9rem;
    }

    #opções {
        text-align: center;
        margin-top: -25px;
        margin-left: 18px;
        font-size: 0.8rem;
        position: absolute;
        top: 250px;
        left: 97px;
    }

    #update {
        text-align: center;
        margin-top: 15px;
    }


    #delete {
        text-align: center;
    }

    table {
        margin-top: 60px;
    }
}

@media (min-width:390px) {
    body {
        height: 844px;
    }

    body h4 {
        font-size: 25px;
        text-align: center;
        position: absolute;
        top: 2vh;
        left: 29vw;
    }

    .btn {
        font-size: 1.2rem;
    }

    #opções {
        text-align: center;
        margin-top: -25px;
        margin-left: 18px;
        font-size: 1rem;
        position: absolute;
        top: 260px;
        left: 90px;
    }


#update {
    text-align: center;
    margin-top: 15px;
}


#delete {
    text-align: center;
}

table {
    margin-top: 60px;
}

}

@media (min-width:393px) {
    body {
        height: 851px;
    }

    body h4 {
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 2vh;
        left: 25vw;
    }

    .btn {
        font-size: 0.65rem;
    }

    #opções {
        text-align: center;
        margin-top: -25px;
        margin-left: 18px;
        font-size: 0.8rem;
        position: absolute;
        top: 200px;
        left: 50px;
    }

    #update {
        text-align: center;
        margin-top: 15px;
    }


    #delete {
        text-align: center;
    }

    table {
        margin-top: 60px;
    }
}

@media (min-width:412px) {
    body {
        height: 914px;
    }

    body h4 {
        font-size: 27px;
        text-align: center;
        position: absolute;
        top: 1vh;
        left: 28vw;
    }

    .btn {
        font-size: 1rem;
    }

    #opções {
        text-align: center;
        margin-top: -25px;
        margin-left: 18px;
        font-size: 0.9rem;
        position: absolute;
        top: 255px;
        left: 107px;
    }

    #update {
        text-align: center;
        margin-top: 15px;
    }


    #delete {
        text-align: center;
    }

    table {
        margin-top: 60px;
    }
}

@media (min-width:414px) {
    body {
        height: 900px;
    }

    body h4 {
        font-size: 30px;
        text-align: center;
        position: absolute;
        top: 1vh;
        left: 27vw;
    }

    .btn {
        font-size: 1rem;
    }

    #opções {
        text-align: center;
        margin-top: -25px;
        margin-left: 18px;
        font-size: 1.1rem;
        position: absolute;
        top: 250px;
        left: 90px;
    }

    #update {
        text-align: center;
        margin-top: 15px;
    }


    #delete {
        text-align: center;
    }

    table {
        margin-top: 60px;
    }
}

@media (min-width:540px) {
    body {
        height: 720px;
    }

    body h4 {
        font-size: 30px;
        text-align: center;
        position: absolute;
        top: 1vh;
        left: 33vw;
    }

    .btn {
        font-size: 0.9rem;
    }

    #opções {
        text-align: center;
        margin-top: -25px;
        margin-left: 18px;
        font-size: 0.8rem;
        position: absolute;
        top: 200px;
        left: 180px;
    }

    #update {
        text-align: center;
        margin-top: -10px;
    }


    #delete {
        text-align: center;
    }

    table {
        margin-top: 60px;
    }
}

@media (min-width:768px) {
    body {
        height: 1024px;
    }

    body h4 {
        font-size: 35px;
        text-align: center;
        position: absolute;
        top: 2px;
        left: 37vw;
    }

    .btn {
        font-size: 1.3rem;
    }

    #opções {
        text-align: center;
        margin-top: -25px;
        margin-left: 18px;
        font-size: 1.2rem;
        position: absolute;
        top: 260px;
        left: 275px;
    }

    #update {
        text-align: center;
        margin-top: 15px;
        position: absolute;
        top: 40px;
        left: 155px;
    }


    #delete {
        text-align: center;
        position: absolute;
        top: 80px;
        left: 159px;
    }

    table {
        position: absolute;
        left: 50px;
        top: 120px;
    }

}

@media (min-width:820px) {
    body {
        height: 1180px;
    }

    body h4 {
        font-size: 35px;
        text-align: center;
        position: absolute;
        top: 2px;
        left: 37vw;
    }

    .btn {
        font-size: 1.3rem;
    }

    #opções {
        text-align: center;
        margin-top: -25px;
        margin-left: 18px;
        font-size: 1.2rem;
        position: absolute;
        top: 260px;
        left: 290px;
    }

    #update {
        text-align: center;
        margin-top: 15px;
        position: absolute;
        top: 40px;
        left: 165px;
    }


    #delete {
        text-align: center;
        position: absolute;
        top: 80px;
        left: 169px;
    }

    table {
        position: absolute;
        left: 70px;
        top: 120px;
    }
}

@media (min-width:912px) {
    body {
        height: 1368px;
    }

    body h4 {
        font-size: 40px;
        text-align: center;
        position: absolute;
        top: 1px;
        left: 33vw;
    }

    .btn {
        font-size: 1.5rem;
    }

    #opções {
        text-align: center;
        margin-top: -25px;
        margin-left: 18px;
        font-size: 1.5rem;
        position: absolute;
        top: 330px;
        left: 290px;
    }

    #update {
        text-align: center;
        margin-top: 15px;
        position: absolute;
        top: 70px;
        left: 172px;
    }


    #delete {
        text-align: center;
        position: absolute;
        top: 120px;
        left: 175px;
    }

    table {
        position: absolute;
        left: 100px;
        top: 220px;
    }
}

@media (min-width:1024px) {
    body {
        height: 600px;
    }

    body h4 {
        font-size: 25px;
        text-align: center;
        position: absolute;
        top: 0.7vh;
        left: 44vw;
    }

    .btn {
        font-size: 0.9rem;
    }

    #opções {
        text-align: center;
        margin-top: -148px;
        margin-left: 800px;
        font-size: 0.9rem;
        position: absolute;
        top: 210px;
        left: 50px;
    }

    #update {
        text-align: center;
        position: absolute;
        top: 14px;
        left: 288px;
    }

    #delete {
        text-align: center;
        position: absolute;
        top: 29px;
        left: 350px;
    }

    .table-responsive {
        display: block;
        width: 100vw;
        overflow-x: auto;
    }

    table {
        position: absolute;
        left: 170px;
        top: 10px;
    }

}

@media (min-width:1280px) {
    body {
        height: 600px;
    }

    body h4 {
        font-size: 25px;
        text-align: center;
        position: absolute;
        top: 0.7vh;
        left: 44vw;
    }

    .btn {
        font-size: 0.9rem;
    }

    #opções {
        text-align: center;
        font-size: 0.9rem;
        position: absolute;
        top: 210px;
        left: 350px;
    }

    #update {
        text-align: center;
        position: absolute;
        top: 14px;
        left: 445px;
    }

    #delete {
        text-align: center;
        position: absolute;
        top: 29px;
        left: 510px;
    }

    table {
        position: absolute;
        left: 0px;
    }

    .table-responsive {
        display: block;
        width: 100vw;
        overflow-x: auto;
    }
}